extends layout

block content
  link(rel='stylesheet', href='/stylesheets/hbd.css')
  script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(type='text/javascript', src='/javascripts/hbd.js')
  h1 Happy Birthday!
  p Welcome to Li's website

  .cake
    .candles.pink-candle#1(style='left:-55em; right:0em;')
    .candles.green-candle#2(style='left:-45em; right:0em;')
    .candles.yellow-candle#3(style='left:-35em; right:0em;')
    .candles.blue-candle#4(style='left:-25em; right:0em;')
    .candles.orange-candle#5(style='left:-15em; right:0em;')
    .candles.purple-candle#6(style='left:-5em; right:0em;')
    .candles.grey-candle#7(style='left:5em; right:0em;')
    .candles.light-blue-candle#8(style='left:15em; right:0em;')
    .candles.blue-yellow-candle#9(style='left:25em; right:0em;')
    .candles.skin-color-candle#10(style='left:35em; right:0em;')
    .candles.dark-pink-candle#11(style='left:45em; right:0em;')
    .candles.dark-yellow-candle#12(style='left:55em; right:0em;')