extends layout

block content
  link(rel='stylesheet', href='/stylesheets/hbd.css')
  h1 Happy Birthday!
  p Welcome to Li's website
  .cake
    .candles.pink-candle(style='left:0em; right:0em;')
    .candles.green-candle(style='left:10em; right:0em;')
    .candles.yellow-candle(style='left:20em; right:0em;')
    .candles.blue-candle(style='left:30em; right:0em;')