extends layout

block content
  link(rel='stylesheet', href='/stylesheets/hbd.css')
  script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(type='text/javascript', src='/javascripts/hbd.js')
  h1 Happy Birthday!
  p Welcome to Li's website
  .cake
    .candles.pink-candle(style='left:-55em; right:0em;')
    .candles.green-candle(style='left:-45em; right:0em;')
    .candles.yellow-candle(style='left:-35em; right:0em;')
    .candles.blue-candle(style='left:-25em; right:0em;')
    .candles.orange-candle(style='left:-15em; right:0em;')
    .candles.purple-candle(style='left:-5em; right:0em;')
    .candles.grey-candle(style='left:5em; right:0em;')
    .candles.light-blue-candle(style='left:15em; right:0em;')
    .candles.blue-yellow-candle(style='left:25em; right:0em;')
    .candles.skin-color-candle(style='left:35em; right:0em;')
    .candles.dark-pink-candle(style='left:45em; right:0em;')
    .candles.dark-yellow-candle(style='left:55em; right:0em;')